<h2>Universitätsanschrift</h2>

<p>Universität Hildesheim</p>
<p>Dr. Ulf Otto<br>
Institut für Medien, Theater und populäre Kultur<br>
Stiftung Universität Hildesheim<br>
Domänenstraße 2<br>
D - 31144 Hildesheim</p>

<p>fon: + 49 5121 883-676</p>
<p>fax: + 49 5121 883-671</p>
<p>email: ulf.ottoXXXXXuni-hildesheim.de</p>

<h3>postanschrift:</h3>
<p>Universität Hildesheim
Postfach 101363
D - 31113 Hildesheim</p>
<bl>
<h3>Impressum</h3>